

.nav-header {
    height: 80px;
    width: 100%;
    background-color: #173e5f;
    margin: 0px;
    padding: 0px;
    // position: fixed;
    // top: 0;
    // left: 0;
    z-index: 1;  
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    line-height: 80px;
    
    .logo {
        float: left;
        a {
            color: white;
            text-decoration: none;
            border-bottom:solid 2px white;
            padding-bottom: 3px;
            font-size: 28px;
            margin-left: 24px;
            font-weight: 700;

        }
    }

    .nav-links {
        margin: 0px;
        padding: 0px;
        ul {
            float: right;
            li {
                display: inline-block;
                color: white;
                text-decoration: none;
                font-size: 22px;

                &:hover {
                    color: lightgray;
                }

                &:not(:first-child) {
                    margin-left: 32px;
                    font-weight: 600;


                }
                &:last-child {
                    margin-right: 24px;
                    font-weight: 700;

                }
                
                
            }
            .signup-button {
                    padding: 10px;
                    border-radius: 12px;
                    background-color: #113049;
                    
                }
        }
    }
    
}